@model SpatialRPGServer.ViewModels.HomeViewModel
@{
    ViewBag.Title = "SpatialRPG Server";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Server Information</h1>
<div>
    Server Version @Model.ServerVersion
</div>

<h3>Users</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Username</td>
            <td>Completed Intro</td>
            <td>Party</td>
            <td>In Battle</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.CompletedIntro</td>
                <td>@user.Party.ToString()</td>
                <td>@user.InBattle</td>
            </tr>
        }
    </tbody>
</table>

<h3>Encounters</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var encounter in Model.Encounters)
        {
            <tr>
                <td>@encounter.Id</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<h3>Battles</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var battle in Model.Battles)
        {
            <tr>
                <td>@battle.Id</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>